# Ignore dependencies
node_modules/

# Ignore database
*.db
*.db-journal

# Ignore uploads
uploads/

# Ignore environment variables
.env

# Ignore logs
*.log
npm-debug.log*

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore IDE files
.vscode/
.idea/
*.swp
*.swo
